*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
text-decoration: none;
}

.top{
    background-color: rgb(76, 49, 16);
}

.floatl {
    float: left;
}

.floatl img {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 30px;
}

.floatl h1 {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 20px; 
}

.hmain{
    width: 100%;
    height: 250px;
    background-color: rgb(75, 52, 22);
    position: relative;
}


h1{
    color: rgb(189, 157, 75);
    font-size: 80px;
    font-family: Playwrite ro Regular; ;
}

.hdown{
    background-color: rgb(189, 139, 79);
    width: 100%;
    height: 50px;
    text-align: center;

}

.hdown ul li{
    color: rgb(240, 217, 190);
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-down: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding-right: 8px;
    padding-left: 8px;
    
    pointer-events:painted;
}

.hdown ul  li:hover{
background-color: rgb(204, 176, 105) ;
cursor: pointer;
}



input {
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right;
    height: 30px;
    width: 200px;
    margin: 60px 30px;
    float: right;
   }

   input.search {
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    right: 30px; /* Ajuste conforme necessário */
   }
 
.back{
    background-color: rgb(189, 139, 79);
    width: 100%;
 height: 800px;
    text-align: center;
}

main{
    background-color: rgb(189, 139, 79);
    
}
.qua{
    background-color: rgb(240, 217, 190);
    margin: 30px;
    width: 28%;
    height: 300px;
    float: left;
}

.clear{
    clear: both;
}

footer{
    background-color: rgb(75, 52, 22);
    color: rgb(189, 157, 75);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 30px;
    font-size: small;
}

.alil{
    float: left;
}

.alir{
    float: right;
}